.show {
  border-radius: 9px;
  padding: 5px;
  width: 200px;
  height: 300px;
  float: left;
  margin: 10px;
  border: 2px solid black;
}

.show-selected {
  border-color: blue;
}

h3 {
  text-align: center;
}
.show > div {
  text-align: center;
}

.show img {
  width: 60px;
}
