.show {
    border-radius: 9px;
    padding: 5px;
    width: 100px;
    height: 150px;
    float: left;
    margin: 10px;
    border: 2px solid black;
}

h3{
    text-align: center;
}
.show>div {
    text-align: center;

}

.show img {
    width: 60px;
}