<button (click)="deleteShow()">Delete Show</button>
<h1>
  Edit {{ show. name }}
</h1>
<form [formGroup]="showForm" (ngSubmit)="save()">
  <div>
    <label for="inputName" >Name: </label>
    <input type="text" formControlName="name" id="inputName" placeholder="Name" />
  </div>
  <div>
      <label>Url: </label>
    <input type="text" formControlName="url" placeholder="Url" />
  </div>
  <div>
      <label>Language: </label>
    <input type="text" formControlName="language" placeholder="Language" />
  </div>
  <div>
      <label>Weight: </label>
    <input type="text" formControlName="weight" placeholder="Weight" />
  </div>
  <div>
      <label >Runtime: </label>
    <input type="number" formControlName="runtime" placeholder="Runtime" />
  </div>
  <div>
    <div *ngFor="let error of getError('runtime')" style="color: red">
      {{error}}
    </div>
  </div>
  <div>
      <label >Summary: </label>
    <textarea col="70" formControlName="summary"></textarea>
  </div>
  <div formGroupName="image">
    <h2>Image details</h2>
    <div><input type="url" formControlName="medium" /></div>
    <div><input type="url" formControlName="original" /></div>
  </div>
  <input type="submit" [disabled]="showForm.invalid" />
</form>

<table>
  <thead>
    <tr>
      <th>Form Value</th>
      <th>Form Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <pre>{{showForm?.value | json}}</pre>
      </td>
    </tr>
    <tr>
      <td>
        <pre>{{show | json}}</pre>
      </td>
    </tr>
  </tbody>
</table>
