<h2 *ngIf="message">{{message}}</h2>

<div *ngIf="!(isAuthenticated$ | async) as isNotAuthenticated; else logoutTemplate ">

  <form [formGroup]="group">
    <div>
      <input type="text" formControlName="userName" placeholder="userName"/>
    </div>
    <div>
      <input type="password" formControlName="password" placeholder="password"/>
    </div>
  </form>
  <button (click)="login()" [disabled]="group.invalid">Login</button>

</div>
<ng-template #logoutTemplate>
  <button (click)="logout()">Log Out</button>
</ng-template>